<%= provide(:title, "New Exchange") %>
<div class="main">
	<div class="section" style="padding-top: 60px;">
		<div class="container">
			<div class="row">
				<div class="col-md-12 mb-4">
					<h1 class="h2">New Exchange</h1>
					<hr>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">

<%= render 'form', exchange: @exchange %>

<%= link_to 'Back', exchanges_path %>
</div>
</div>