<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <%= link_to 'Companies', admin_companies_path %>
  </li>
	<li class="breadcrumb-item active">New</li>
</ol>	
<h1>New Company</h1>
<hr>
<div class="row">		
	<div class="col-md-4">
		<%= render 'form', company: @company %>
	</div>
</div>