<%= provide(:title, "New Currency Pair") %>
<div class="main">
	<div class="section" style="padding-top: 60px;">
		<div class="container">
			<div class="row">
				<div class="col-md-12 mb-4">
					<h1 class="h2">New Currency Pair</h1>
					<hr>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">

					<%= render 'form', currency: @currency %>

					<%= link_to 'Back', currencies_path %>
				</div>
			</div>
		</div>
	</div>
</div>
