<p id="notice"><%= notice %></p>

<h1>Tokens</h1>

<table>
  <thead>
    <tr>
      <th>Token</th>
			<th>DApp</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tokens.each do |token| %>
      <tr>
        <td><%= token.name %></td>
				<td><%= token.company.name %></td>
        <td><%= link_to 'Show', token %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


