<%= provide(:title, "New Company") %>
<div class="main">
	<div class="section" style="padding-top: 60px;">
		<div class="container">
			<div class="row">
				<div class="col-md-12 mb-4">
					<h1 class="h2">New Company</h1>
					<hr>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<%= render 'form', company: @company %>
					<%= link_to 'Back', companies_path %>
				</div>
			</div>
		</div>
	</div>
</div>
