<footer class="footer section pt-5">
	<div class="container">
		<div class="row">
			<nav class="footer-nav">
				<ul class="list-inline">
					<li>team@ethereumgrow.com</li>
				</ul>
			</nav>
			<div class="credits ml-auto">
				<span class="copyright">
					©2013 - <%= Time.current.year %>, Ethereum Grow
				</span>
			</div>
		</div>
	</div>
</footer>