<footer class="footer section pt-5">
	<div class="container">
		<div class="row">
			<nav class="footer-nav">
				<ul>
					<li>team@ethereumgrow.com</li>
					<li><a href="https://twitter.com/ethereumgrow"><i class="fa fa-twitter" aria-hidden="true"></i>@EthereumGrow</a></li>
				</ul>
			</nav>
			<div class="credits ml-auto">
				<span class="copyright">
					©2013 - 2017, EthereumGrow
				</span>
			</div>
		</div>
	</div>
</footer>